# Git
.git
.gitignore
.gitattributes

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Build outputs
dist
build
.turbo
.next
out

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# CI/CD
.github
.gitlab-ci.yml
.circleci

# Documentation
README.md
docs

# Misc
.cache
.prettierignore
.eslintignore
husky
lint-staged